.card-img-overlay{
margin-block-start: 30vh;
margin-block-end: 50vw;
margin-inline-start: 0px;
margin-inline-end: 0px;
max-width: 50vw;
}
@media(max-width:800px){
    .card-img-overlay{
        text-align: start;
        margin-block-start: 10vh;
        margin-block-end: 50vw;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        max-width: 100vw;
    }
}
@media(max-width:400px){
    .card-img-overlay{
        text-align: start;
        margin-block-start: 1vh;
        margin-block-end: 50vw;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        max-width: 100vw;
    }
}
